/** @griffel:css-start [d] **/
.fs2g817 {
  background-image: url(/Users/olfedias/WebstormProjects/wd40-2/packages/transform/__fixtures__/mode-css-assets/blank.jpg);
}
.f136a0ba {
  background-image: url('/Users/olfedias/WebstormProjects/wd40-2/packages/transform/__fixtures__/mode-css-assets/blank.jpg');
}
.f4tjn73 {
  background-image: url(/Users/olfedias/WebstormProjects/wd40-2/packages/transform/__fixtures__/mode-css-assets/empty.jpg);
}
.f12vvth1 {
  -webkit-filter: url(./a.svg#a);
  filter: url(./a.svg#a);
}
/** @griffel:css-end **/
