/** @griffel:css-start [d] **/
.fw7szfx {
  background-image: url(@wd40:/Users/olfedias/WebstormProjects/wd40/packages/transform/__fixtures__/mode-css-assets/blank.jpg:@wd40);
}
.f18743zb {
  background-image: url('@wd40:/Users/olfedias/WebstormProjects/wd40/packages/transform/__fixtures__/mode-css-assets/blank.jpg:@wd40');
}
.f9a0wry {
  background-image: url(@wd40:/Users/olfedias/WebstormProjects/wd40/packages/transform/__fixtures__/mode-css-assets/empty.jpg:@wd40);
}
.f12vvth1 {
  filter: url(./a.svg#a);
}
/** @griffel:css-end **/
