/** @griffel:css-start [d] **/
.fg7lip3 {
  background-image: url(/packages/transform/__fixtures__/mode-css-assets/blank.jpg);
}
.f1qy49ta {
  background-image: url('/packages/transform/__fixtures__/mode-css-assets/blank.jpg');
}
.f16ks0gu {
  background-image: url(/packages/transform/__fixtures__/mode-css-assets/empty.jpg);
}
.f12vvth1 {
  -webkit-filter: url(./a.svg#a);
  filter: url(./a.svg#a);
}
/** @griffel:css-end **/
